body {
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}

.question-container {
    display: none;
}

.result-container {
    display: none;
}

.question-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.answer-options {
    display: flex;
    flex-direction: column;
}

.answer-options label {
    margin-bottom: 10px;
}

.submit-button, .reload-button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.submit-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}
